//! **************************************************************************
// Written by: Map O.61xd on Sun Nov 11 00:23:37 2012
//! **************************************************************************

SCHEMATIC START;
COMP "clk_12mhz" LOCATE = SITE "A9" LEVEL 1;
COMP "miso" LOCATE = SITE "J14" LEVEL 1;
COMP "sclk" LOCATE = SITE "J16" LEVEL 1;
COMP "mosi" LOCATE = SITE "F15" LEVEL 1;
COMP "ssel" LOCATE = SITE "F16" LEVEL 1;
COMP "pcm_out<0>" LOCATE = SITE "B15" LEVEL 1;
COMP "pcm_out<1>" LOCATE = SITE "B16" LEVEL 1;
COMP "pcm_out<2>" LOCATE = SITE "C15" LEVEL 1;
COMP "pcm_out<3>" LOCATE = SITE "C16" LEVEL 1;
PIN mem/regs/Mram_regs1_pins<20> = BEL "mem/regs/Mram_regs1" PINNAME
        CLKAWRCLK;
PIN mem/regs/Mram_regs1_pins<21> = BEL "mem/regs/Mram_regs1" PINNAME
        CLKBRDCLK;
PIN mem/regs/Mram_regs_pins<20> = BEL "mem/regs/Mram_regs" PINNAME CLKAWRCLK;
PIN mem/regs/Mram_regs_pins<21> = BEL "mem/regs/Mram_regs" PINNAME CLKBRDCLK;
PIN
        mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP clk_100mhz_i_clkfx = BEL "last_state_0" BEL "last_state_1" BEL
        "last_state_2" BEL "pcm_array_2_2" BEL "pcm_array_2_3" BEL
        "pcm_array_2_4" BEL "pcm_array_2_5" BEL "pcm_array_2_6" BEL
        "pcm_array_2_7" BEL "pcm_array_2_8" BEL "pcm_array_2_9" BEL
        "pcm_array_0_2" BEL "pcm_array_0_3" BEL "pcm_array_0_4" BEL
        "pcm_array_0_5" BEL "pcm_array_0_6" BEL "pcm_array_0_7" BEL
        "pcm_array_0_8" BEL "pcm_array_0_9" BEL "pcm_array_1_2" BEL
        "pcm_array_1_3" BEL "pcm_array_1_4" BEL "pcm_array_1_5" BEL
        "pcm_array_1_6" BEL "pcm_array_1_7" BEL "pcm_array_1_8" BEL
        "pcm_array_1_9" BEL "pcm_array_3_2" BEL "pcm_array_3_3" BEL
        "pcm_array_3_4" BEL "pcm_array_3_5" BEL "pcm_array_3_6" BEL
        "pcm_array_3_7" BEL "pcm_array_3_8" BEL "pcm_array_3_9" BEL
        "state_FSM_FFd3" BEL "state_FSM_FFd2" BEL "state_FSM_FFd1" BEL
        "clk_1mhz_cnt_0" BEL "clk_1mhz_cnt_1" BEL "clk_1mhz_cnt_2" BEL
        "clk_1mhz_cnt_3" BEL "clk_1mhz_cnt_4" BEL "clk_1mhz_cnt_5" BEL
        "idle_counter_4" BEL "idle_counter_5" BEL "idle_counter_6" BEL
        "idle_counter_7" BEL "idle_counter_8" BEL "idle_counter_9" BEL
        "clk_100mhz_i/clkout1_buf" BEL "mem/addr_hold_7" BEL "mem/addr_hold_6"
        BEL "mem/addr_hold_5" BEL "mem/addr_hold_4" BEL "mem/addr_hold_3" BEL
        "mem/addr_hold_2" BEL "mem/addr_hold_1" BEL "mem/addr_hold_0" BEL
        "mem/spi_slave/do_valid_B" BEL "mem/spi_slave/do_valid_A" BEL
        "mem/spi_do_valid_delay" BEL "mem/spi_slave/do_valid_o_reg" BEL
        "mem/rd_data_ready_reg" BEL "mem/fifo_read_en_hold" BEL
        "mem/do_valid_delay" BEL "clk_1mhz" BEL "rd_en" BEL
        "mem/spi_slave/wren" BEL "mem/addr_rxd" BEL "Result<0>1_FRB" BEL
        "Result<1>1_FRB" BEL "Result<2>1_FRB" BEL "Result<3>1_FRB" BEL
        "Result<4>1_FRB" BEL "Result<5>1_FRB" BEL "Result<6>_FRB" BEL
        "Result<7>_FRB" BEL "Result<8>_FRB" BEL "Result<9>_FRB" BEL
        "Result<10>_FRB" BEL "Result<11>_FRB" BEL "Result<12>_FRB" BEL
        "Result<13>_FRB" BEL "Result<14>_FRB" BEL "Result<15>_FRB" BEL
        "Result<16>_FRB" BEL "Result<17>_FRB" BEL "mem/addr_rxd_INV_16_o1_FRB"
        BEL "state_FSM_FFd3-In1_FRB" BEL "state_FSM_FFd3-In2_FRB" BEL
        "mem/do_valid1_FRB" PIN "mem/regs/Mram_regs1_pins<20>" PIN
        "mem/regs/Mram_regs1_pins<21>" PIN "mem/regs/Mram_regs_pins<20>" PIN
        "mem/regs/Mram_regs_pins<21>" BEL "mem/spi_slave/Mshreg_do_valid_D"
        BEL "mem/spi_slave/do_valid_D" BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_0"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_0"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_i"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/gae.ram_aempty_i"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_fb_i"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d2_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d2_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d2_1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d2_0"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d1_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d1_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_d1_1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc1.count_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_full_fb_i"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_0"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_2"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_1"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_3"
        BEL
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_2"
        PIN
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>"
        PIN
        "mem/afifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>";
TIMEGRP sclk = BEL "mem/spi_slave/do_buffer_reg_7" BEL
        "mem/spi_slave/do_buffer_reg_6" BEL "mem/spi_slave/do_buffer_reg_5"
        BEL "mem/spi_slave/do_buffer_reg_4" BEL
        "mem/spi_slave/do_buffer_reg_3" BEL "mem/spi_slave/do_buffer_reg_2"
        BEL "mem/spi_slave/do_buffer_reg_1" BEL
        "mem/spi_slave/do_buffer_reg_0" BEL "mem/spi_slave/state_reg_3" BEL
        "mem/spi_slave/state_reg_2" BEL "mem/spi_slave/state_reg_1" BEL
        "mem/spi_slave/state_reg_0" BEL "mem/spi_slave/preload_miso" BEL
        "mem/spi_slave/do_transfer_reg" BEL "mem/spi_slave/wr_ack_reg" BEL
        "mem/spi_slave/sh_reg_7" BEL "mem/spi_slave/sh_reg_6" BEL
        "mem/spi_slave/sh_reg_5" BEL "mem/spi_slave/sh_reg_4" BEL
        "mem/spi_slave/sh_reg_3" BEL "mem/spi_slave/sh_reg_2" BEL
        "mem/spi_slave/sh_reg_1" BEL "mem/spi_slave/sh_reg_0" BEL
        "mem/spi_slave/tx_bit_reg" BEL "sclk_BUFGP/BUFG";
TIMEGRP clk_1mhz = BEL "pcms[3].pcm/pcm_count_11" BEL
        "pcms[3].pcm/pcm_count_10" BEL "pcms[3].pcm/pcm_count_9" BEL
        "pcms[3].pcm/pcm_count_8" BEL "pcms[3].pcm/pcm_count_7" BEL
        "pcms[3].pcm/pcm_count_6" BEL "pcms[3].pcm/pcm_count_5" BEL
        "pcms[3].pcm/pcm_count_4" BEL "pcms[3].pcm/pcm_count_3" BEL
        "pcms[3].pcm/pcm_count_2" BEL "pcms[3].pcm/pcm_count_1" BEL
        "pcms[3].pcm/pcm_count_0" BEL "pcms[3].pcm/pulse_width_reg_9" BEL
        "pcms[3].pcm/pulse_width_reg_8" BEL "pcms[3].pcm/pulse_width_reg_7"
        BEL "pcms[3].pcm/pulse_width_reg_6" BEL
        "pcms[3].pcm/pulse_width_reg_5" BEL "pcms[3].pcm/pulse_width_reg_4"
        BEL "pcms[3].pcm/pulse_width_reg_3" BEL
        "pcms[3].pcm/pulse_width_reg_2" BEL "pcms[3].pcm/pcm_out_reg" BEL
        "pcms[2].pcm/pcm_count_11" BEL "pcms[2].pcm/pcm_count_10" BEL
        "pcms[2].pcm/pcm_count_9" BEL "pcms[2].pcm/pcm_count_8" BEL
        "pcms[2].pcm/pcm_count_7" BEL "pcms[2].pcm/pcm_count_6" BEL
        "pcms[2].pcm/pcm_count_5" BEL "pcms[2].pcm/pcm_count_4" BEL
        "pcms[2].pcm/pcm_count_3" BEL "pcms[2].pcm/pcm_count_2" BEL
        "pcms[2].pcm/pcm_count_1" BEL "pcms[2].pcm/pcm_count_0" BEL
        "pcms[2].pcm/pulse_width_reg_9" BEL "pcms[2].pcm/pulse_width_reg_8"
        BEL "pcms[2].pcm/pulse_width_reg_7" BEL
        "pcms[2].pcm/pulse_width_reg_6" BEL "pcms[2].pcm/pulse_width_reg_5"
        BEL "pcms[2].pcm/pulse_width_reg_4" BEL
        "pcms[2].pcm/pulse_width_reg_3" BEL "pcms[2].pcm/pulse_width_reg_2"
        BEL "pcms[2].pcm/pcm_out_reg" BEL "pcms[1].pcm/pcm_count_11" BEL
        "pcms[1].pcm/pcm_count_10" BEL "pcms[1].pcm/pcm_count_9" BEL
        "pcms[1].pcm/pcm_count_8" BEL "pcms[1].pcm/pcm_count_7" BEL
        "pcms[1].pcm/pcm_count_6" BEL "pcms[1].pcm/pcm_count_5" BEL
        "pcms[1].pcm/pcm_count_4" BEL "pcms[1].pcm/pcm_count_3" BEL
        "pcms[1].pcm/pcm_count_2" BEL "pcms[1].pcm/pcm_count_1" BEL
        "pcms[1].pcm/pcm_count_0" BEL "pcms[1].pcm/pulse_width_reg_9" BEL
        "pcms[1].pcm/pulse_width_reg_8" BEL "pcms[1].pcm/pulse_width_reg_7"
        BEL "pcms[1].pcm/pulse_width_reg_6" BEL
        "pcms[1].pcm/pulse_width_reg_5" BEL "pcms[1].pcm/pulse_width_reg_4"
        BEL "pcms[1].pcm/pulse_width_reg_3" BEL
        "pcms[1].pcm/pulse_width_reg_2" BEL "pcms[1].pcm/pcm_out_reg" BEL
        "pcms[0].pcm/pcm_count_11" BEL "pcms[0].pcm/pcm_count_10" BEL
        "pcms[0].pcm/pcm_count_9" BEL "pcms[0].pcm/pcm_count_8" BEL
        "pcms[0].pcm/pcm_count_7" BEL "pcms[0].pcm/pcm_count_6" BEL
        "pcms[0].pcm/pcm_count_5" BEL "pcms[0].pcm/pcm_count_4" BEL
        "pcms[0].pcm/pcm_count_3" BEL "pcms[0].pcm/pcm_count_2" BEL
        "pcms[0].pcm/pcm_count_1" BEL "pcms[0].pcm/pcm_count_0" BEL
        "pcms[0].pcm/pulse_width_reg_9" BEL "pcms[0].pcm/pulse_width_reg_8"
        BEL "pcms[0].pcm/pulse_width_reg_7" BEL
        "pcms[0].pcm/pulse_width_reg_6" BEL "pcms[0].pcm/pulse_width_reg_5"
        BEL "pcms[0].pcm/pulse_width_reg_4" BEL
        "pcms[0].pcm/pulse_width_reg_3" BEL "pcms[0].pcm/pulse_width_reg_2"
        BEL "pcms[0].pcm/pcm_out_reg" BEL "clk_1mhz" BEL "clk_1mhz_BUFG";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN clk_100mhz_i/dcm_sp_inst_pins<3> = BEL "clk_100mhz_i/dcm_sp_inst" PINNAME
        CLKIN;
TIMEGRP clk_12mhz = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "clk_100mhz_i/dcm_sp_inst_pins<3>";
TS_clk_1mhz = PERIOD TIMEGRP "clk_1mhz" 1000 ns HIGH 50%;
TS_clk_12mhz = PERIOD TIMEGRP "clk_12mhz" 83.3333 ns HIGH 50% INPUT_JITTER
        0.01 ns;
TS_sclk = PERIOD TIMEGRP "sclk" 125 ns LOW 50%;
TS_clk_100mhz_i_clkfx = PERIOD TIMEGRP "clk_100mhz_i_clkfx" TS_clk_12mhz /
        8.33333333 HIGH 50% INPUT_JITTER 0.01 ns;
SCHEMATIC END;

